<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398833069958-itqg4e904db963c62jh85kpll9v0jg0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398833069958-itqg4e904db963c62jh85kpll9v0jg0k</string>
	<key>API_KEY</key>
	<string>AIzaSyBA-WSKQL-113iA2M9zWWBtVBfvyp67aFk</string>
	<key>GCM_SENDER_ID</key>
	<string>398833069958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firesplit</string>
	<key>PROJECT_ID</key>
	<string>firesplit-5130a</string>
	<key>STORAGE_BUCKET</key>
	<string>firesplit-5130a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398833069958:ios:2f12c776f4571c527d4607</string>
</dict>
</plist>